.die-face{
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}
.die-face.held{
  background-color: #59e391;
}
.die-img{
  width: 40px;
  height: 40px;
}
